body {
    padding: 0;
    margin: 0;
    min-height: 100svh;
}

/*-----------------*/
/*-------------------Header*/
/*-----------------*/
header {
    height: 15svh;
    width: 100%;
    background-color: #7000A4;
}

nav {
    display: flex;
    justify-content: center;
}

.logo {
    width: 300px;
    z-index: 999;
}

/*-----------------*/
/*-------------------Corps de page*/
/*-----------------*/

main {
    background-color: #35325F;
    height: calc(85vh - 60px);
    padding: 30px;
}

.section {
    background-color: #0E1235;
    height: calc(85vh - 60px);
    border-radius: 10px;
}

