.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #312A58;
    width: 50%;
    height: fit-content;
    align-items: center;
    border-radius: 10px;
    color: white;
}

form input {
    width: 80%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
}

form button {
    padding: 15px;
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
}